.view {
  flex: 70%;
  background-color: "#f0cae7";
}

.controller {
  color: red;
  flex: 30%;
  text-align: center;
  background-color: rgb(101, 182, 230);
}

.select-form {
  display: grid;
  height: 80%;
  justify-content: left;
  text-align: left;
  align-items: center;
  margin: 0 30px;
  .option {
    margin: 10px 0;
    width: 100%;
    .select-label {
      margin: 10px 0px;
      width: 100%;
      display: inline-block;
      font-size: large;
      color: black;
    }
    .select-options {
      width: 400px;
    }
  }
  .form-button {
    text-align: center;
    margin: 20px 0;
  }
}
